body {
	background-image: url("green_dust_scratch.png");
	
}

.container {
	font-family: 'Fira Sans', sans-serif;
}

#title {
	font-size: 35px;
	color: white;
	background-color: grey;
	padding: 5px;
	margin: 10px;
	text-align: center;
}


#directions {
	background-color: rgb(70, 72, 79);
}

#directions, p {
	color: rgb(255, 255, 255);
	font-size: 16pt;
}


#randomNumber {

	display: inline-block;
}

#target {
	background-color: rgb(70, 72, 79);
	color: rgb(255, 255, 255);
	font-size: 20px;
}

#wins_losses {
	background-color: rgb(70, 72, 79);
	color: rgb(255, 255, 255);
	font-size: 20px;
}

#losses {
	display: inline-block;
}

#wins {
	display: inline-block;
}

#userScore {
	background-color: rgb(70, 72, 79);
	color: rgb(255, 255, 255);
	font-size: 20px;
	display: inline-block;
}

#crystalImages {
	background-color: rgb(70, 72, 79);

}

.crysImage {
	height: 128px;
	width: 128px;
	padding: 10px;
}


/* bootstrap CSS */

#Backcolor {
	background-color: rgb(70, 72, 79);
	color: rgb(255, 255, 255);
}




